@model NoteViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Note";
}

<a asp-action="Index">< Back to list</a>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title" class="col-form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <input type="text" asp-for="Content" style="display: none;" id="content-input">

    <div id="editor">
        @Html.Raw(Model.Content)
    </div>

    <div class="form-group">
        <input type="submit" value="Save" onclick="bindContent()" class="btn btn-success m-2">
    </div>
</form>

<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
    var editor = new Quill('#editor', {
        modules: {
            toolbar: [
                [{ header: [1, 2, 3, 4, 5, 6, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block'],
                [{ list: 'ordered' }, { list: 'bullet' }],
                [{ align: '' }, { align: 'center' }, { align: 'right' }, { align: 'justify' }]
            ]
        },
        theme: 'snow'
    });

    function bindContent() {
        document.getElementById('content-input').value = document.getElementsByClassName('ql-editor')[0].innerHTML;
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
